USE [ktg-dev]
GO
/****** Object:  Table [dbo].[UserWorkoutDetails]    Script Date: 9/21/2017 3:09:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserWorkoutDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserWorkoutDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProgramID] [int] NOT NULL,
	[TrackID] [int] NOT NULL,
	[SessionID] [int] NOT NULL,
	[ExerciseID] [int] NOT NULL,
	[ExerciseStepID] [int] NOT NULL,
	[ExerciseGroupID] [int] NOT NULL,
	[SetNum] [int] NOT NULL,
	[ActualLoad] [int] NOT NULL,
	[ActualReps] [int] NOT NULL,
	[OneRM] [int] NOT NULL,
	[Dynamic1RM] [int] NOT NULL,
	[WorkoutDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_UserWorkoutDetails_Status]  DEFAULT ((0)),
 CONSTRAINT [PK_UserWorkoutDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
