@{
    ViewBag.Title = "Forgot Password?";
}
<div class="row row-table page-wrapper">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">

        <div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark panel-flat anim-running anim-done" style="">
            <div class="panel-heading text-center">
                <p class="text-center mt-lg" style="font-size:24px !important;">
                    <a href="#">
                    @*<img src="../app/img/logo.png" alt="Image" class="block-center img-rounded">*@
                    Strength Tracker
                        </a>
                </p>
                <p class="text-center mt-lg">
                    <strong>PASSWORD RESET</strong>
                </p>
            </div>
            <div class="panel-body">
                <form role="form">
                    <p class="text-center">Fill with your mail to receive instructions on how to reset your password.</p>
                    <div class="form-group has-feedback">
                        <label for="resetInputEmail1">Email address</label>
                        <input id="resetInputEmail1" type="email" placeholder="Enter email" class="form-control">
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <button type="button" class="btn btn-danger btn-block" onclick="ForgotPassword();">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/StrengthTracker2/Common.js"></script>
    <script type="text/javascript" charset="utf-8">
        function ForgotPassword() {
            getForgotPasswordUrl("@Url.Action("ForgotPassword","Account")");
        }
    </script>
}

}