<p>Hi @Model.AdminName,</p>

<p>Customer @Model.CustomerName activation Complete.</p>

<br />

<p>This message is for informational purposes only. Please do not reply to this email.</p>

<p>Thank You.</p>