<p>Hi @Model.FirstName  @Model.LastName,</p>

<p>We received a request to recover your user name </p>
<br />
<p>Use the below user name for logging in to SAQStivity app or recover your password:</p>

<p>@Model.UserName</p>

<br />

<p>If you have any problems, please contact sales@saqstivity.com</p>

<br />

<p>This message is for informational purposes only. Please do not reply to this email.</p>

<p>Thank You.</p>