<p>Hi @Model.FirstName  @Model.LastName,</p>

<p>Thank you for registering with us. Admin will review your details shortly and activate your account.</p>

<p>If you have any problems, please contact sales@allsportsprofitness.com</p>

<br />

<p>This message is for informational purposes only. Please do not reply to this email.</p>

<p>Thank You.</p>