<p>Hi @Model.ContactFirstName @Model.ContactLastName,</p>

<p>Your account , as a @Model.Category has been deactivated. </p>

<p>If you have any problems, please contact sales@allsportsprofitness.com</p>

<br />

<p>This message is for informational purposes only. Please do not reply to this email.</p>

<p>Thank You.</p>