<p>Hi @Model.ContactFirstName  @Model.ContactLastName,</p>

<p>Thank you for registering as a StrengthTracker Personal Trainer. We will review your details shortly and activate your account.</p>

<p>Contact us for questions at sales@allsportsprofitness.com</p>

<br />

<p>This message is for informational purposes only. Please do not reply to this email.</p>

<p>Thank You</p>
<p>The StrengthTracker Team</p>