@using StrengthTracker2.Core.DataTypes
@using StrengthTracker2.Core.Repository.Entities.TKGMaster
@using StrengthTracker2.Core.Repository.Entities.Actors
@{
    ViewBag.Title = "Strength Tracker | Profile";
    Layout = "~/Views/Admin/_LayoutNew.cshtml";
    var showCheckbox = false;
    showCheckbox = ViewBag.ShowCheckbox;
}
<div class="top-bar clearfix">
    <div class="container-fluid">
        <div class="row gutter">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <h3 class="page-title">Athlete Profile</h3>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div id="profileDiv">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="image" src="../images/noimage.jpg" width="80" height="80" id="profilePicture" />
                <input type="file" id="my_file" style="display: none;" />
            </div>
            @if (showCheckbox)
            {
                <div class="pull-right" style="padding: 30px; font-size: 20px;">
                    <label>
                        Show Welcome page on logon  <input type="checkbox" id="chkShowWelcome">
                    </label>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-light">
                    <div class="panel-heading">
                        &nbsp;
                        <div class="panel-title pull-right" style="color:#ffffff;">* Required fields</div>
                        <h4 class="panel-title">Athlete Profile</h4>
                    </div>
                    <div class="form-group col-lg-6"></div>
                    <div class="form-group col-lg-6"></div>
                    <div class="form-group col-lg-6"></div>
                    <div class="form-group col-lg-6">
                        @*<div class="required pull-right" style="width:42%" ><a href="javascript:void(0)" onclick="ShowChangePasswordDiv()">Change Password</a></div>                                    *@
                    </div>

                    <div class="panel-body">
                        <div id="accordionAdd" class="panel-group">
                            <!-- START panel-->
                            <div class="">
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <input type="hidden" id="hdnAthleteID" />
                                        <input type="hidden" id="hdnUserType" />
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">First Name *</label>
                                            <div class="col-lg-7">
                                                <input placeholder="First Name" mandatory class="form-control" id="txtAthleteFirstName">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Last Name *</label>
                                            <div class="col-lg-7">
                                                <input placeholder="Last Name" mandatory class="form-control" id="txtAthleteLastName">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Address1 *</label>
                                            <div class="col-lg-7">
                                                <input type="text" placeholder="Address1" mandatory class="form-control" id="txtAthleteAddress1" />

                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Address 2 *</label>
                                            <div class="col-lg-7">
                                                <input type="text" placeholder="Address2" mandatory class="form-control" id="txtAthleteAddress2" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">City *</label>
                                            <div class="col-lg-7">
                                                <input placeholder="City" mandatory class="form-control" id="txtAthleteCity">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">State/Zip *</label>
                                            <div class="col-lg-7">
                                                <select style="width:45%; padding:0px;" name="state" class="form-control mr col-lg-6" id="ddlAthleteState"></select>
                                                <div style="width:55%; padding:0px;" class="col-lg-6">
                                                    <input placeholder="ZIP Code" mandatory class="form-control" id="txtAthleteZip">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Country *</label>
                                            <div class="col-lg-7">
                                                <select name="state" mandatory class="form-control mr col-lg-6 country-select" id="ddlAthleteCountry">
                                                    <option>Select Country</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Phone No. *</label>
                                            <div class="col-lg-7">
                                                <input placeholder="Phone No" mandatory class="form-control" id="txtAthletePhone">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Alt Phone No.</label>
                                            <div class="col-lg-7">
                                                <input placeholder="Alternate Phone No" class="form-control" id="txtAthleteAlternatePhone">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Email *</label>
                                            <div class="col-lg-7">
                                                <input type="email" placeholder="Email" mandatory class="form-control" id="txtAthleteEmail">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Alt Email</label>
                                            <div class="col-lg-7">
                                                <input type="email" placeholder="Comma Seperated Email" class="form-control" id="txtAthleteSecondaryEmail">
                                            </div>

                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">DOB *</label>
                                            <div class="col-lg-7">
                                                <input type="text" mandatory class="form-control" placeholder="Date of Birth" id="txtAthleteDOB">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Gender *</label>
                                            <div class="col-lg-7">
                                                <select name="profileGender" mandatory class="form-control m-b" id="ddlAthleteGender">
                                                    <option value="0">--Select Gender--</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">School *</label>
                                            <div class="col-lg-7">
                                                <input placeholder="School" mandatory class="form-control" id="txtAthleteSchool">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Strength Training Experienced *</label>
                                            <div class="col-lg-7">
                                                <select name="profileParticipants" mandatory class="form-control m-b" id="ddlAthleteExperienced">
                                                    <option value="0">--Select Experienced--</option>
                                                    <option value="1">Yes</option>
                                                    <option value="2">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Travel Club/Team</label>
                                            <div class="col-lg-7">
                                                <input placeholder="Travel Club/Team" class="form-control" id="txtAthleteTravelClub">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Travel Club/Level</label>
                                            <div class="col-lg-7">
                                                <select name="profileTravel" class="form-control m-b" id="ddllAthleteTravelClubLevel">
                                                    <option value="0">--Select Travel Team Level--</option>
                                                    <option value="1">A</option>
                                                    <option value="2">B</option>
                                                    <option value="3">C</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Sport *</label>
                                            <div class="col-lg-7">
                                                <select name="profilePosition" mandatory class="form-control m-b" id="ddlAthleteSport"></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Grade *</label>
                                            <div class="col-lg-7">
                                                <select name="Grade" mandatory id="ddlAthleteGrade" class="form-control m-b">
                                                    <option selected="selected" value="0">Select Grade *</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="101">College 1</option>
                                                    <option value="102">College 2</option>
                                                    <option value="103">College 3</option>
                                                    <option value="104">College 4</option>
                                                    <option value="100">Other grade</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Sport on registration</label>
                                            <div class="col-lg-7">
                                                <input type="text" name="RegSport" placeholder="" id="txtRegisteredSport" class="form-control m-b" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Team</label>
                                            <div class="col-lg-7">
                                                <input type="text" mandatory id="txtTeamName" disabled="disabled" class="form-control m-b" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Coach</label>
                                            <div class="col-lg-7">
                                                <input type="text" mandatory id="txtCoachName" disabled="disabled" class="form-control m-b" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Program</label>
                                            <div class="col-lg-7">
                                                <input type="text" id="txtProgramName" disabled="disabled" class="form-control m-b" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="col-lg-5 control-label">Location</label>
                                            <div class="col-lg-7">
                                                <input type="text" id="txtLocation" disabled="disabled" class="form-control m-b" />
                                            </div>
                                        </div>
                                        @* Have Participated in more than 3 months of continuos intelligent resistance traiing*@
                                        <div class="form-group col-lg-12">
                                            <div class="pull-right" style="width:10%">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="width:94.3% !important;">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success mb-lg" onclick="SaveAthleteProfile();">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ChangePasswordDiv" style="display:none;">
        <div class="">
            <div class="panel-heading bb">
                Select New Password
                <div class="required pull-right">* Required fields</div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group col-lg-6">
                        <label class="col-lg-5 control-label">New Password*</label>
                        <div class="col-lg-7">
                            <input type="password" placeholder="First Name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="col-lg-5 control-label">Confirm Password *</label>
                        <div class="col-lg-7">
                            <input type="password" placeholder="Last Name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-lg-12">&nbsp;</div>
                    <div class="pull-right" style="" width:25%">
                        <button type="button" onclick="ShowProfileDiv();" class="btn btn-primary btn-sm">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="../Scripts/slider/js/bootstrap-slider.js"></script>
    <script src="../Scripts/sparklines/jquery.sparkline.min.js"></script>
    <script src="../Scripts/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/moment/min/moment.min.js"></script>
    <script src="~/Scripts/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/StrengthTracker2/AthleteProfile.js"></script>
}