@{
	ViewBag.Title = "Strength Tracker | User History";
	Layout = "~/Views/Admin/_LayoutNew.cshtml";
}
<style>
    .k-grid .k-alt {
        background-color: #fafbfc; /* specify the alternate background-color */
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    #teamsGrid .k-grid-content, #teamsGrid tr td:last-child {
        overflow: visible;
    }

    #teamsGrid .k-grid-header {
        padding-right: 0 !important;
    }
    #dvSiteFooter {
        top: 70px !important;
    }
	   td > a {
        color:#337ab7;
    }
    td > a:hover {
        color:#337ab7;
    }
</style>
<link rel="stylesheet" href="../content/kendo.common.min.css" />
<link rel="stylesheet" href="../content/kendo.silver.min.css">

<div class="top-bar clearfix">
	<!-- Container fluid starts -->
	<div class="container-fluid">
		<!-- Row starts -->
		<div class="row gutter">
			<div class="col-md-8 col-sm-6 col-xs-12">
				<h3 class="page-title">Athlete History</h3>
			</div>
		</div>
		<!-- Row ends -->
	</div>
	<!-- Container fluid ends -->
</div>
 <!-- Main container starts -->
<div class="main-container">
	<!-- Row starts -->
	<div class="row gutter">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="usergridcontainer">
                <div class="form-group">
					<label style="text-decoration:underline;float:left;margin-top:2px;"></label>
                    <div class="controls">
                        <table style="width:100%">
                            <tr>
                                <td style="width:10%"><label>Athlete Name:</label></td>
                                <td><label id="lblAthleteName"></label></td>
                                <td style="text-align:right;display:none;"><label>View Athlete History By Team</label></td>
                                @*<td><select id="lstViewHistoryBy" onchange="ChangeUserHisotryFilter();" class="form-control m-b" style="width:200px;margin-left:20px;">
                                    <option value="coach">Coach</option>
                                    <option value="team">Team</option>
					                </select>
                                </td>*@
                            </tr>
                        </table>
                    </div>
				</div>
				<div id="someplaceholderGrid" class="clearfix"></div>
			</div>
			<div id="userHistoryGrid" style="margin-top:8px; overflow:visible !important;" class="clearfix"></div>
			<div id="userHistoryPager"></div>
		</div>
	</div>
</div>
<!-- Main container end --> 
<!-- START confirm deletion modal-->
@*<div id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="confirmDeletionLabel" aria-hidden="true" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
				<h4 id="confirmDeletionLabel" class="modal-title">Confirm Deletion</h4>
			</div>
			<div class="modal-body" style="margin-left:16px;">
				<form>
					<div class="form-group">
						<span>Delete Team?</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-success">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="Delete();">Delete</button>
			</div>
		</div>
	</div>
</div>*@
<!-- END confirm deletion modal-->       
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="../Scripts/kendo.all.min.js"></script>
    <script src="../Scripts/StrengthTracker2/Common.js"></script>
    <script type="text/javascript" charset="utf-8">
        $("#liAthlete").addClass("active");
        var userID = '';
        //var filter = getUrlVars()["filter"];
        //$("#lstViewHistoryBy").val(filter);
        var teamdataSource = new kendo.data.DataSource({
		    transport: {
		        read: function (options) {
		            $.ajax({
		                type: "GET",
		                url: "../Admin/GetUserHistory",
		                contentType: "application/json; charset=utf-8",
		                dataType: 'json',
		                success: function (result) {
		                    options.success(result.Data);
		                    if (result.Data.length > 0) {
		                        $("#lblAthleteName").text(result.Data[0].AthleteName);
		                    }
		                    else {
		                        alert("No historical records for the athlete");
		                    }
		                },
		                error: function (req, status, errorObj) {
		                    alert('Error: Please try again');
		                }
		            });
		        }
		    },
		    pageSize: 10
		});
		$("#userHistoryGrid").kendoGrid({
		    //selectable: "multiple cell",
		    allowCopy: true,
		    //height: 550,
		    scrollable: true,
		    sortable: true,
		    filterable: true,
		    //pageable: {
		    //    input: true,
		    //    numeric: false
		    //},
		    columns: [
                {
                    field: "FieldName",
                    title: 'Team Name'
                },
                {
                    field: "StartDate",
                    title: "Start Date",
                    template: "#= kendo.toString(kendo.parseDate(StartDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #",
                    attributes: {
                        style: 'white-space: nowrap '
                    }
                },
                {
                    field: "EndDate",
                    title: "End Date",
                    template: "#= EndDate == null ? '-' : kendo.toString(kendo.parseDate(EndDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #",
                    attributes: {
                        style: 'white-space: nowrap '
                    }
                }
		    ],
		    dataSource: teamdataSource
		});

		teamdataSource.read();
		$("#userHistory").kendoPager({
		    autoBind: true,
		    dataSource: teamdataSource
		});

		//function ChangeUserHisotryFilter() {
		//    if ($("#lstViewHistoryBy").val() !== "0") {
		//        userID = getUrlVars()["userID"];
		//        filter = $("#lstViewHistoryBy").val();
		//        window.location.href = "../Admin/UserHistory?userID=" + userID + "&filter=" + filter;
		//    }
		//}
    </script>
}