@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Registration/_Layout.cshtml";
}
<form id="frmRegisterAthlete">
    <div id="login-wrapper">
        <div id="login_header">
	        <img src="~/images/logo-single.png" class="logo" alt="Strength Tracker" style="max-width:max-content;float:none !important;" />
	    </div>
        <h5>Thank you for registering with us. Admin will review your details shortly and activate your account.</h5>
    </div>
</form>