.table > thead > tr > th, .table > thead > tr > td {
	font-size: 13px;
	font-family: 'open_sansregular';
}
	.table > thead > tr > td > a {
		color: #337ab7 !important;
		text-decoration: none !important;
	}
.table-bordered {
	border: 1px solid #e3ebf4 !important;
}

a.block-80 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	height: 80px;
	padding: 15px;
	margin-bottom: 15px;
	text-align: center;
	color: #ffffff;
}

	a.block-80 i {
		font-size: 32px;
		margin: 0 auto 3px auto;
	}

	a.block-80 h5 {
		margin: 0;
		padding: 0;
		overflow: hidden;
		line-height: 140%;
	}

	a.block-80 h1 {
		margin: 0 0 2px 0;
		padding: 0;
	}

html {
	overflow: scroll;
    overflow-x: auto !important;
	-ms-overflow-style: none;
}

/*::-webkit-scrollbar {
	display: none;
}*/

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    text-align: center;
    background-color:#ffffff;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #e3ebf4;
    background-color:#ffffff;
    /*white-space: nowrap;*/
}

.modal-body {
    position: relative;
    padding: 15px 15px 15px 15px !important;
}

#divWSMainContainer {
    background-color:#ffffff !important;
    padding:0px 0px 0px 0px !important;
}

#divWSMainContainerFluid {
     padding:0px 0px 0px 0px !important;
}

 .dataTables_scrollHead
    {
        margin-top:-8px !important;
    }

body {
    background: #f5f8fb !important;
}

.brand-logo {
	display: block;
	padding: 14px 15px;
}
header {
    padding:1px 5px 1px 5px !important;
    border-top: 0px solid #3b76a0 !important;
}

.main-container {
  position: relative;
  padding: 6px;
  background: #f5f8fb; 
  min-height: 0px !important;
}

.row.gutter {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}


    a.block-60 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  height: 60px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff; }

@media (max-width: 767px) {
    header {
        	padding: 1px 5px 1px 5px !important;
    }
}
@media all and (orientation:portrait) {
	.woTopbar {
		display: block !important;
	}
	#SetsInfo {
		display: none;
	}
	#DivRotateInfo {
		display: block !important;
	}
	.gear {
		display: inline;
	}
}

@media all and (orientation:landscape) {
	.woTopbar {
		display: none !important;
	}
	#SetsInfo {
		display: block;
	}
	#DivRotateInfo {
		display: none !important;
	}
	.gear {
		display: none;
	}
}

body {
background: #f5f8fb;
}

header {
padding: 1px 5px 1px 5px;
border-top: 0px solid #3b76a0;
}

@media (max-width: 767px) {
  header {	
         padding: 1px 5px 1px 5px;
}}

.custom-search {
         margin: 5px auto 5px auto;
 /*float: right;*/ }

.custom-search .search-query {
 padding: 7px 35px;
  width: auto;	
}

.custom-search i {
 padding: 0 10px;
 left: 0;
border-left: 0px solid #404040;
}

.brand-logo {
	display: block;
	padding: 14px 15px;
}

@media (max-width: 991px) {
.custom-search {
/*display: none;*/ } }

.main-container {
position: relative;
padding: 6px;
background: #f5f8fb; }

.row.gutter {
margin-right: 0px !important;
margin-left: 0px !important;
}



.top-bar {
margin-top: -5px;
}


.top-bar h3.page-title {
 text-align: left; 
}
}

a.block-60 {
height: 60px;

}

 .k-grid td {
    border-style: solid;
    border-width: 1px 0 0 1px !important;
    padding: .4em .6em;
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis;
}
    .k-block, .k-content, .k-dropdown .k-input, .k-popup, .k-toolbar, .k-widget {
    color: #333333 !important;
}

    .k-autocomplete, .k-block, .k-button-group .k-tool, .k-calendar th, .k-colorpicker .k-i-arrow-s, .k-content, .k-dropdown-wrap, .k-dropzone-active, .k-editable-area, .k-filter-row>th, .k-footer-template td, .k-grid td, .k-grid td.k-state-selected, .k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel>.k-item>.k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar>.k-item>.k-link, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox>input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget {
    border-color: #e3ebf4 !important;
}
    .k-grid-header .k-header>.k-link, .k-header, .k-treemap-title {
    color: #333333 !important;
        font-size: 15px;
    font-family: 'open_sansregular';
      background-color: #ffffff;
      font-weight:bold;
}
    .k-grid .k-alt {
        background-color: #f1f5fa; /* specify the alternate background-color */
    }

.k-grid  .k-grid-header  .k-header  .k-link {
    height: auto;
}
.k-grid  .k-grid-header  .k-header {
    white-space: normal;
    background-color: #ffffff !important;
    
}

.k-pager-wrap {
    background-color: #ffffff !important;
    color: #333333 !important;
}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

    html .k-grid tr:hover {
  background: transparent;
}
 
html .k-grid tr.k-alt:hover {
  background: #d1dfec;
}

 td > a {
        color:#337ab7;
    }
    td > a:hover {
        color:#337ab7;
    }

.STCenter {
text-align:center;
}
.STLeft {
text-align:left;
}

.table-no-border > tbody > tr > td, .table-no-border > tbody > tr > th, .table-no-border > tfoot > tr > td, .table-no-border > tfoot > tr > th, .table-no-border > thead > tr > td, .table-no-border > thead > tr > th {
    border: none;
    padding: 0px 10px 10px 0px !important;
}

.logo-bar {
	padding: 5px 5px !important;
}